<body>
  <%= erb :'fluid/css_basic_styles' %>
  <div class="bg">
    <div class="preheader" style="font-size: 1px; display: none !important;">PREHEADER CODE HERE</div>
    <table class="main" width="100%">
      <tr>
        <td>  <%= erb :'content/webview'%></td>
      </tr>
          <tr>
        <td class="spacer"></td>
      </tr>
      <tr>
        <td>

          <%= erb :'fluid/header'%>
        </td>
      </tr>
      <tr>
        <td class="spacer"></td>
      </tr>
      <tr>
        <td>
          
          <%=
          erb :'content/bg_image'
          %>
          
        </td>
      </tr>
      <tr>
        <td class="spacer"></td>
      </tr>
     
      <tr>
        <td class="spacer"></td>
      </tr>
      <tr>
        <td>
          
          <%=
          erb :'content/highlight'
          %>
          
        </td>
      </tr>
      <!--    <tr>
        <td class="spacer"></td>
      </tr>
      <tr>
        <td>
          
          <%=
          #          erb :image_column_small
          %>
        </td>
      </tr> -->
      <tr>
        <td class="spacer"></td>
      </tr>
      <tr>
        <td>
          <%= erb :'content/two_and_one_column' %>
        </td>
      </tr>
      <!--
      <tr>
        <td class="spacer"></td>
      </tr>
      <tr>
        <td>
          
          <%=
          # erb :image_column
          %>
        </td>
      </tr>
      -->
      <tr>
        <td class="spacer"></td>
      </tr>
      <tr>
        <td>
          
          <%= erb :'fluid/footer' %>
        </td>
      </tr>
    </table>
    <!-- end of #main table -->
  </div>
</body>