<body>
  <%= erb :"#{@local_views}/basic_styles"%>
  
  <div class="bg">
    <div class="preheader" style="font-size: 1px; display: none !important;">PREHEADER CODE HERE</div>
    <p>
      <a href="%%view_email_url%%" alias="WebCopy">If you have problems viewing this email, <br> see the browser version.</a>
    </p>
    <table class="main" width="<%=@outerwidth%>px">
      <tbody>
        <tr>
          <%= render_block( :header) %>
        </tr>
        <tr>
          <%= render_block( :highlight,'content') %>
        </tr>
        <tr>
          <%=
          render_block( :gamegrid_320,'content') 
          %>
        </tr>
        <tr>
          <%= erb :'content/block_spacer'%>
        </tr>
            <tr>
          <%= render_block( :footer_pile) %>
        </tr>
      </tbody>
    </table>
    <!-- end of #main table -->
  </div>
</body>