<table width="<%=@innerwidth%>" align="center" border="0" cellspacing="0" cellpadding="0" class="two-image-grid">
  <tbody>
    <tr>
      <td width="145" style="width:145px;"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f826b841756e1e316ad2a17f61ffeeb78993861654aad95dd6e0511119f883423" target="_blank"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/WJ_Games_Minecraft.png" width="145" height="145" border="0">
      </a>
      </td>
      <%= erb :'content/grid_spacer' %>
      <td width="145" style="width:145px;"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039ffd1d853bc24e79d93537769b42beae1c70e6a352ff53fd8a0d2d3d5898ae8b7b" target="_blank"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/WJ_Games_Candy_Crush_Sage.png" width="145" height="145" border="0">
      </a>
      </td>
    </tr>
    <tr>
      <td width="145" valign="top" style="width:145px;padding:8px;"><font face="Arial,Helvetica,sans-serif"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f826b841756e1e316ad2a17f61ffeeb78993861654aad95dd6e0511119f883423" target="_blank"><font face="Arial,Helvetica,sans-serif" size="2" color="#505050"><span style="font-size:14px;font-weight:normal;">Minecraft, description text here for your to see.
      </span></font></a></font></td>
      <%= erb :'content/grid_spacer' %>
      <td width="145" valign="top" style="width:145px;padding:8px;"><font face="Arial,Helvetica,sans-serif"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039ffd1d853bc24e79d93537769b42beae1c70e6a352ff53fd8a0d2d3d5898ae8b7b" target="_blank"><font face="Arial,Helvetica,sans-serif" size="2" color="#505050"><span style="font-size:14px;font-weight:normal;">Candy
      Crush Saga, description text here for your to see. And some more , about 100 characters is maximum. </span></font></a></font></td>
    </tr>
    <tr>
    <td class="grid-spacer-horizontal" colspan="3"></td>
    </tr>
    <tr>
      
      <td width="145" style="width:145px;"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f25dd4aef70a0458de89c47a7fbfc2bbf01cab9c3893a63e18fd9e193402e259d" target="_blank"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/WJ_Games_Angry_Birds_Epic.png" width="145" height="145" border="0">
      </a>
    </td>
      <%= erb :'content/grid_spacer' %>
      <td width="145" style="width:145px;"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f25b7a53479a8a26a702b7a822d5fc04a3e2dfecbbc2671154397d266600ebd10" target="_blank"><img src="http://image.email.microsoftemail.com/lib/fe5d15707d660674711c/m/1/WJ_Games_Hill_Climb_Racing.png" width="145" height="145" border="0">
      </a>
      </td>
    </tr>
    <tr>
    <td width="145" valign="top" style="width:145px;padding:8px;"><font face="Arial,Helvetica,sans-serif"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f25dd4aef70a0458de89c47a7fbfc2bbf01cab9c3893a63e18fd9e193402e259d" target="_blank"><font face="Arial,Helvetica,sans-serif" size="2" color="#505050"><span style="font-size:14px;font-weight:normal;">Angry
    Birds Epic, description text here for your to see. </span></font></a></font>
    </td>
    <%= erb :'content/grid_spacer' %>
    <td width="145" valign="top" style="width:145px;padding:8px;"><font face="Arial,Helvetica,sans-serif"><a href="http://click.email.microsoftemail.com/?qs=ea4e7ab33d30039f25b7a53479a8a26a702b7a822d5fc04a3e2dfecbbc2671154397d266600ebd10" target="_blank"><font face="Arial,Helvetica,sans-serif" size="2" color="#505050"><span style="font-size:14px;font-weight:normal;">Hill
    Climb Racing, description text here for your to see. </span></font></a></font>
    </td>
    </tr>
  </tbody>
</table>