 <body>
 <%= erb :css_basic_styles %>
    <div class="bg">
      
      <table width="100%" style="margin:0 0 2em 0; border-bottom:3px solid #ccc;">
        <tr>
          <td>
            <% if @svg %>
            <%= erb :ms_logo_svg %>
            <% end %>
          </td>
        </tr>
      </table>
      <table class="main" width="100%">
        <tr>
          <td>

            <table>
              <tr>
                <td style="padding:0">   <p class="highlight">
                  <span>  Fluid tables: </span>
                  
                  <span>should be three full width blocks in viewports smaller than 581px and
                  two equally sized columns and one full block for larger viewports that also support media queries and floats</span>
                  
                  </p>
                </td>
              </tr>
            </table>

            
            
          </td>
        </tr>
        <tr>
          <td>
            <%= erb :two_and_one_column %>
            <%= erb :image_column %>
          </td>
        </tr>
        <tr>
          <td>
            <%= 
            # erb :gamegrid 
            %>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            
            <p>
            <br />
            %%Member_Busname%% <br />
            %%Member_Addr%% <br />
            %%Member_PostalCode%% %%Member_City%%, %%Member_Country%%
            <custom name="opencounter" type="tracking">
            </p>
          </td>
        </tr>
      </table> 
      <!-- end of #main table -->
    </div>
  </body>